.bg-body-tertiary{
    background-color: rgb(206, 103, 103) !important;
}

a{
    color: aliceblue !important;
}

.dropdown-menu li a{
    color:rgb(206, 103, 103) !important;
}

.dropdown-menu li a:hover{
    background-color: rgb(206, 103, 103);
    color: aliceblue !important;
}

.btn-outline-success {
    background-color: aliceblue !important;
    color: rgb(206, 103, 103) !important;
    font-weight: bold !important;
}

.d-flex .form-control:focus {
    box-shadow: 0cap;
}

.cart {
    margin: 5px;
    color:white;
    cursor: pointer;
}